body {
    background-color:#FFA500;
    color: #fff;

}
.navbar-nav .nav-link {
            font-size: 18px;
        }
.container {
    border-radius: 5px;
    padding: 20px;
    margin-top: 50px;
}

.cdClass{
	background-color: #ffffff;
	border-radius: 10px;
}


